 .container {
            border: 2px solid red;
            display: flex;
            height: 80vh;
            /* justify-content: center; */
            /* there is no justify items in flex box */
            /* align-content: flex-start; */
            align-items: center;
            /* flex-direction: column; */
            /* flex-direction: column-reverse; */
            flex-direction: row;
            /* flex-direction: row-reverse; */
            flex-wrap: wrap;
            /* flex-flow: row wrap; */
            /* gap: 50px; */
            /* gap: 40px 50px; */
            /* row-gap: 50px;
            column-gap: 100px; */
        }

        .item {
            height: 82px;
            width: 82px;
            border: 2px solid black;
            margin: 4px;
            background-color: blueviolet;
            /* flex-grow: 1; */
            flex-shrink: 1;
            /* align-self: flex-start ;  */
        }
        .item1{
            /* flex-grow: 2; */
            flex-shrink: 2;
        }

        /* default order is 0 */
        .order1{
            order: 1;
        }
        .order2{
            order: 2;
        }
        .order3{
            order: 3;
        }