*{
            margin: 0;
            padding: 0;
        }

         .box {
            height: 433px;
            width: 80vw;
            padding: 3px;
            margin: 3px;
            margin: auto;
            border: 2px solid black;
        }

        .parent{
            padding: 43px;
            margin: 34px;
            border: 2px solid black;
            /*Exception: transform, filter, or perspctive properties can also make an element as positioned  */
            /* position: absolute; */
            /* transform: translate(0); */
            /* filter: invert(0); */
            /* perspective: 0em */
        }

        .box1{
            background-color: antiquewhite;
            /* position: sticky;
            top: 0px;
            height: 111px;
            width: 100%;
            margin: 0;
            padding: 0; */
            position: absolute;
            top: 0px;
            left: 3px;
        }

        .box2{
            background-color: aqua;
            /* position: relative;
            top: 45px;
            left: 35px; */
        }

        .box3{
            background-color: aquamarine;
            /* position: fixed;
            bottom: 400px;
            left: 8vw;
            height: 10vh; */
        }

        .box4{
            background-color: pink;
        }