
        /* this tag is for all the divs  */
        div {
            /* background-color: red; */
        }

        /* class selector */
        .red {
            background-color: red;
        }

        /* id selector */
        #green {
            background-color: green;
        }

        /* child selectors */
        div>p {
            background-color: aqua;
            color: pink;
        }

        /* descendant selectors */
        div p {
            background-color: brown;
        }

        /* '*'---> is the universal selector */
        * {
            margin: 0;
            padding: 0;
        }

        /* pseudo selector */
        a:visited {
            /*--> were you visited */
            color: red;
        }

        a:link {
            /*--> were you didnt visited */
            color: rgb(6, 162, 40);
        }

        a:active {
            /*when you are clicking */
            background-color: yellow;
        }

        a:hover {
            background-color: blueviolet;
            color: aqua;
        }

        p:first-child {
            background-color: aqua;
        }
